:root {
  --main: #272a31;
  --highlight: #ec5242;
  --background: #d3d3d3;
  --lato: 'Lato', sans-serif;
  --cocogoose: 'COCOGOOSE', sans-serif;
}

html {
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--lato);
  background-color: white;
  padding: 0;
  margin: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a,
a:link,
a:visited {
  text-decoration: none;
}

.toggle-nav {
  text-decoration: none;
  font-size: 40px;
  color: var(--main-theme);
  cursor: pointer;
}

header {
  background-color: white;
  position: relative;
  top: 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: baseline;
  justify-items: baseline;
  border-color: transparent;
}

.topbar {
  padding: 0.4rem 5rem;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  background-color: var(--main);
}

.topbar-ul {
  display: flex;
  align-items: baseline;
  justify-items: baseline;
  gap: 15px;
}

.topbar-li a {
  color: var(--background);
}

footer {
  display: flex;
  flex-direction: column;
}

.sponsors {
  background-color: #424146;
  padding: 2rem;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

hr {
  width: 10%;
  border: none;
  height: 3px;
  background: var(--highlight);
}

.sponsors-ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.rights {
  padding: 4rem 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5%;
}

@media (max-width: 768px) {
  header {
    padding: 0;
  }

  .topbar,
  #logo,
  .right-logo {
    display: none;
  }

  nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: var(--main);
    backdrop-filter: blur(3rem);
    opacity: 1;
    overflow-x: hidden;
    transition: 0.5s;
  }

  .menu-ul {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-items: left;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin-top: 120px;
    font-weight: bold;
  }

  .menu-li:hover {
    opacity: 0.7;
    font-size: 35px;
    transition: opacity 1s;
    transition: font-size 0.5s;
  }

  nav a {
    padding: 10px;
    text-decoration: none;
    font-size: 36px;
    color: var(--background);
    display: block;
    transition: 0.3s;
  }

  nav a:hover {
    color: var(--highlight);
    font-size: 38px;
  }

  .closebtn {
    padding: 0 10px;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 45px;
  }
}

@media (min-width: 768px) {
  a {
    color: var(--main);
  }

  .navbar-div {
    padding: 0.7rem 5rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .right-navbar {
    display: flex;
    gap: 25px;
  }

  nav {
    left: 0;
    top: 0;
    width: fit-content;
    position: relative;
    display: flex;
    padding-left: 0;
    align-items: center;
    justify-content: space-around;
  }

  .menu-ul {
    gap: 25px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: flex-start;
    justify-content: space-between;
    padding-left: 0;
    width: fit-content;
    font-weight: bold;
  }

  .menu-li:hover {
    opacity: 0.7;
    font-size: 15px;
    transition: opacity 1s;
    transition: font-size 0.5s;
  }

  .right-logo-div {
    display: flex;
    padding: 5px 15px;
    border: 3px solid var(--highlight);
  }

  .toggle-nav {
    display: none;
  }

  .closebtn {
    display: none;
  }

  #home-li {
    display: none;
  }
}
